# Spark UI

## Task I

* run the query bellow and go to the Spark UI
    * see the physical plan in SQL tab
    * see stages and tasks
    * see also the logical plan by calling explain(True)
    
## Task II
* set the `autoBroadcastJoinThreshold` to -1 to get SortMergeJoin and see the plan and job details again

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, initcap, year
import os

In [2]:
spark = (
    SparkSession
    .builder
    .appName('SparkUI')
    .getOrCreate()
)

/home/student/spark-3.2.0-bin-hadoop3.2/python/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [3]:
base_path = os.getcwd()

project_path = ('/').join(base_path.split('/')[0:-3]) 

users_input_path = os.path.join(project_path, 'data/users')

questions_input_path = os.path.join(project_path, 'output/questions-transformed')

In [4]:
usersDF = spark.read.load(users_input_path)
questionsDF = spark.read.load(questions_input_path)

In [5]:
resultDF = (
    usersDF
    .join(questionsDF, 'user_id')
    .withColumn('name', initcap('display_name'))
    .select('user_id', 'creation_date', 'name')
    .filter(year(col('creation_date')) >= 2018)
)

In [6]:
resultDF.explain(True)

== Parsed Logical Plan ==
'Filter (year('creation_date) >= 2018)
+- Project [user_id#0L, creation_date#18, name#53]
   +- Project [user_id#0L, display_name#1, about#2, location#3, downvotes#4L, upvotes#5L, reputation#6L, views#7L, question_id#16L, tags#17, creation_date#18, title#19, body#20, accepted_answer_id#21L, answers#22L, comments#23L, views#25L, initcap(display_name#1) AS name#53]
      +- Project [user_id#0L, display_name#1, about#2, location#3, downvotes#4L, upvotes#5L, reputation#6L, views#7L, question_id#16L, tags#17, creation_date#18, title#19, body#20, accepted_answer_id#21L, answers#22L, comments#23L, views#25L]
         +- Join Inner, (user_id#0L = user_id#24L)
            :- Relation [user_id#0L,display_name#1,about#2,location#3,downvotes#4L,upvotes#5L,reputation#6L,views#7L] parquet
            +- Relation [question_id#16L,tags#17,creation_date#18,title#19,body#20,accepted_answer_id#21L,answers#22L,comments#23L,user_id#24L,views#25L] parquet

== Analyzed Logical Plan ==
user_id: bigint, creation_date: timestamp, name: string
Filter (year(cast(creation_date#18 as date)) >= 2018)
+- Project [user_id#0L, creation_date#18, name#53]
   +- Project [user_id#0L, display_name#1, about#2, location#3, downvotes#4L, upvotes#5L, reputation#6L, views#7L, question_id#16L, tags#17, creation_date#18, title#19, body#20, accepted_answer_id#21L, answers#22L, comments#23L, views#25L, initcap(display_name#1) AS name#53]
      +- Project [user_id#0L, display_name#1, about#2, location#3, downvotes#4L, upvotes#5L, reputation#6L, views#7L, question_id#16L, tags#17, creation_date#18, title#19, body#20, accepted_answer_id#21L, answers#22L, comments#23L, views#25L]
         +- Join Inner, (user_id#0L = user_id#24L)
            :- Relation [user_id#0L,display_name#1,about#2,location#3,downvotes#4L,upvotes#5L,reputation#6L,views#7L] parquet
            +- Relation [question_id#16L,tags#17,creation_date#18,title#19,body#20,accepted_answer_id#21L,answers#22L,comments#23L,user_id#24L,views#25L] parquet

== Optimized Logical Plan ==
Project [user_id#0L, creation_date#18, initcap(display_name#1) AS name#53]
+- Join Inner, (user_id#0L = user_id#24L)
   :- Project [user_id#0L, display_name#1]
   :  +- Filter isnotnull(user_id#0L)
   :     +- Relation [user_id#0L,display_name#1,about#2,location#3,downvotes#4L,upvotes#5L,reputation#6L,views#7L] parquet
   +- Project [creation_date#18, user_id#24L]
      +- Filter ((isnotnull(creation_date#18) AND (year(cast(creation_date#18 as date)) >= 2018)) AND isnotnull(user_id#24L))
         +- Relation [question_id#16L,tags#17,creation_date#18,title#19,body#20,accepted_answer_id#21L,answers#22L,comments#23L,user_id#24L,views#25L] parquet

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [user_id#0L, creation_date#18, initcap(display_name#1) AS name#53]
   +- BroadcastHashJoin [user_id#0L], [user_id#24L], Inner, BuildLeft, false
      :- BroadcastExchange HashedRelationBroadcastMode(List(input[0, bigint, false]),false), [id=#26]
      :  +- Filter isnotnull(user_id#0L)
      :     +- FileScan parquet [user_id#0L,display_name#1] Batched: true, DataFilters: [isnotnull(user_id#0L)], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/home/student/From-Simple-Transformations-to-Highly-Efficient-Job..., PartitionFilters: [], PushedFilters: [IsNotNull(user_id)], ReadSchema: struct<user_id:bigint,display_name:string>
      +- Filter ((isnotnull(creation_date#18) AND (year(cast(creation_date#18 as date)) >= 2018)) AND isnotnull(user_id#24L))
         +- FileScan parquet [creation_date#18,user_id#24L] Batched: true, DataFilters: [isnotnull(creation_date#18), (year(cast(creation_date#18 as date)) >= 2018), isnotnull(user_id#2..., Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/home/student/From-Simple-Transformations-to-Highly-Efficient-Job..., PartitionFilters: [], PushedFilters: [IsNotNull(creation_date), IsNotNull(user_id)], ReadSchema: struct<creation_date:timestamp,user_id:bigint>

In [7]:
resultDF.collect()

[Row(user_id=5493171, creation_date=datetime.datetime(2020, 5, 25, 19, 21, 43, 77000), name='Hejo'),
 Row(user_id=1092865, creation_date=datetime.datetime(2020, 1, 6, 12, 30, 23, 440000), name='Morgoe'),
 Row(user_id=4522398, creation_date=datetime.datetime(2019, 6, 6, 10, 43, 43, 890000), name='Andy  Peng'),
 Row(user_id=193189, creation_date=datetime.datetime(2020, 1, 27, 22, 34, 13, 913000), name='Punkouter'),
 Row(user_id=11839566, creation_date=datetime.datetime(2019, 12, 4, 13, 53, 10, 943000), name='John Walker'),
 Row(user_id=10128619, creation_date=datetime.datetime(2019, 11, 12, 12, 8, 32, 963000), name='Cbdeveloper'),
 Row(user_id=5881773, creation_date=datetime.datetime(2018, 10, 10, 15, 13, 17, 947000), name='Vipul'),
 Row(user_id=4776977, creation_date=datetime.datetime(2018, 5, 25, 17, 13, 7, 623000), name='Tom Wagstaff'),
 Row(user_id=10104341, creation_date=datetime.datetime(2019, 7, 4, 13, 52, 37, 910000), name='Dimitris Efst'),
 Row(user_id=426422, creation_date=datetime.datetime(2018, 12, 5, 18, 43, 0, 403000), name='Mike Cheel'),
 Row(user_id=9098955, creation_date=datetime.datetime(2019, 8, 23, 11, 16, 15, 730000), name='Ishan Gandhi'),
 Row(user_id=7653231, creation_date=datetime.datetime(2020, 5, 17, 10, 3, 5, 60000), name='Max'),
 Row(user_id=10175853, creation_date=datetime.datetime(2018, 8, 9, 12, 58, 49, 440000), name='Pelican Brady'),
 Row(user_id=6583722, creation_date=datetime.datetime(2019, 10, 31, 11, 34, 29, 960000), name='Javed A'),
 Row(user_id=11876025, creation_date=datetime.datetime(2019, 8, 2, 22, 57, 11, 257000), name='Josh'),
 Row(user_id=10823490, creation_date=datetime.datetime(2019, 6, 19, 13, 30, 57, 933000), name='Jackal'),
 Row(user_id=884463, creation_date=datetime.datetime(2020, 4, 4, 20, 19, 59, 397000), name='David Tonhofer'),
 Row(user_id=7186497, creation_date=datetime.datetime(2019, 2, 11, 23, 17, 39, 357000), name='Annihil8'),
 Row(user_id=9365607, creation_date=datetime.datetime(2018, 8, 21, 18, 9, 7, 423000), name='Bboone'),
 Row(user_id=8035764, creation_date=datetime.datetime(2019, 2, 20, 17, 15, 41, 490000), name='S. L.'),
 Row(user_id=3955557, creation_date=datetime.datetime(2020, 4, 2, 18, 23, 6, 503000), name='Mario Petrovic'),
 Row(user_id=3855394, creation_date=datetime.datetime(2018, 8, 11, 11, 4, 50, 913000), name='Amin'),
 Row(user_id=1183729, creation_date=datetime.datetime(2018, 1, 11, 16, 32, 11, 907000), name='Greengold'),
 Row(user_id=9953126, creation_date=datetime.datetime(2018, 10, 6, 20, 37, 18, 370000), name='Jonathan Adkins'),
 Row(user_id=4738391, creation_date=datetime.datetime(2019, 3, 5, 15, 12, 34, 990000), name='Zia Ul Rehman Mughal'),
 Row(user_id=6486528, creation_date=datetime.datetime(2018, 5, 9, 17, 50, 59, 733000), name='User1414'),
 Row(user_id=8105415, creation_date=datetime.datetime(2019, 6, 13, 19, 15, 37, 220000), name='J4mes83'),
 Row(user_id=5435780, creation_date=datetime.datetime(2018, 7, 24, 8, 27, 58, 937000), name='Elnoor'),
 Row(user_id=13633212, creation_date=datetime.datetime(2020, 5, 28, 10, 50, 35, 613000), name='Sennacheribest'),
 Row(user_id=3803382, creation_date=datetime.datetime(2019, 12, 17, 19, 31, 34, 87000), name='Pressword'),
 Row(user_id=10043498, creation_date=datetime.datetime(2018, 7, 6, 18, 30, 44, 487000), name='Rakesh'),
 Row(user_id=9346331, creation_date=datetime.datetime(2018, 3, 26, 15, 10, 20, 587000), name='Yaakov'),
 Row(user_id=398441, creation_date=datetime.datetime(2020, 3, 9, 13, 56, 48, 767000), name='Johan'),
 Row(user_id=9988979, creation_date=datetime.datetime(2019, 7, 11, 8, 21, 16, 697000), name='17a.j12'),
 Row(user_id=12057445, creation_date=datetime.datetime(2020, 2, 6, 12, 28, 3, 603000), name='Mrjshaun'),
 Row(user_id=10104341, creation_date=datetime.datetime(2019, 4, 17, 13, 40, 28, 510000), name='Dimitris Efst'),
 Row(user_id=12882424, creation_date=datetime.datetime(2020, 4, 7, 3, 10, 50, 323000), name='Westwest1234'),
 Row(user_id=3994240, creation_date=datetime.datetime(2018, 8, 10, 5, 38, 57, 90000), name='Theunknown'),
 Row(user_id=1654143, creation_date=datetime.datetime(2019, 1, 28, 20, 5, 7, 497000), name='Ghoul Fool'),
 Row(user_id=10151464, creation_date=datetime.datetime(2018, 8, 31, 12, 11, 42, 730000), name='Noodledew'),
 Row(user_id=9473620, creation_date=datetime.datetime(2018, 3, 22, 18, 46, 41, 17000), name='Hamed Adefuwa'),
 Row(user_id=9826812, creation_date=datetime.datetime(2018, 5, 22, 10, 19, 50, 953000), name='Karewar Nikhil'),
 Row(user_id=2009252, creation_date=datetime.datetime(2019, 11, 8, 15, 27, 7, 620000), name='Lainos88'),
 Row(user_id=8084693, creation_date=datetime.datetime(2019, 4, 24, 19, 50, 20, 467000), name='Shekhar'),
 Row(user_id=9375615, creation_date=datetime.datetime(2018, 7, 31, 18, 29, 1, 720000), name='Nasr Mohamed'),
 Row(user_id=10067658, creation_date=datetime.datetime(2018, 7, 21, 20, 4, 30, 877000), name='Justin'),
 Row(user_id=2947880, creation_date=datetime.datetime(2019, 12, 12, 13, 58, 46, 130000), name='D.razvan'),
 Row(user_id=11924880, creation_date=datetime.datetime(2019, 9, 24, 5, 23, 9, 940000), name='Cd-6'),
 Row(user_id=2713740, creation_date=datetime.datetime(2019, 10, 4, 10, 46, 29, 473000), name='Luca'),
 Row(user_id=7600535, creation_date=datetime.datetime(2020, 5, 10, 13, 8, 11, 617000), name='Ganzo'),
 Row(user_id=1382647, creation_date=datetime.datetime(2020, 4, 17, 7, 33, 45, 743000), name='Fatherazrael'),
 Row(user_id=6829152, creation_date=datetime.datetime(2020, 2, 4, 9, 44, 20, 170000), name='Alon Dattner'),
 Row(user_id=3599803, creation_date=datetime.datetime(2019, 10, 7, 14, 25, 19, 607000), name='User3599803'),
 Row(user_id=999759, creation_date=datetime.datetime(2018, 10, 5, 22, 16, 43, 200000), name='Ramji'),
 Row(user_id=12990000, creation_date=datetime.datetime(2020, 4, 15, 19, 55, 39, 777000), name='David'),
 Row(user_id=6110169, creation_date=datetime.datetime(2018, 10, 3, 16, 54, 20, 880000), name='Wojtek T'),
 Row(user_id=447901, creation_date=datetime.datetime(2019, 9, 3, 18, 7, 49, 787000), name='Lit'),
 Row(user_id=10971285, creation_date=datetime.datetime(2019, 2, 15, 11, 44, 18, 687000), name='Stv News Kaipamangalam'),
 Row(user_id=3312962, creation_date=datetime.datetime(2020, 5, 7, 20, 46, 0, 897000), name='Praveen Pulipaka'),
 Row(user_id=5914736, creation_date=datetime.datetime(2018, 7, 8, 11, 12, 41, 843000), name='Lukas'),
 Row(user_id=10243896, creation_date=datetime.datetime(2018, 12, 30, 22, 20, 28, 690000), name='Justinas Rubinovas'),
 Row(user_id=10092506, creation_date=datetime.datetime(2019, 2, 21, 10, 31, 20, 337000), name='Ngoc Minh Tran'),
 Row(user_id=7308434, creation_date=datetime.datetime(2019, 2, 17, 21, 38, 55, 267000), name='Estecka'),
 Row(user_id=363603, creation_date=datetime.datetime(2019, 1, 28, 10, 33, 18, 553000), name='U123'),
 Row(user_id=10185000, creation_date=datetime.datetime(2019, 7, 10, 11, 23, 31, 553000), name='Adrian Nasar'),
 Row(user_id=11577870, creation_date=datetime.datetime(2019, 6, 13, 8, 10, 45, 637000), name='Zaiba Siddiqui'),
 Row(user_id=1452974, creation_date=datetime.datetime(2018, 9, 26, 14, 45, 41, 467000), name='De_xtr'),
 Row(user_id=9242883, creation_date=datetime.datetime(2019, 12, 16, 21, 19, 58, 97000), name='Jj008'),
 Row(user_id=10453900, creation_date=datetime.datetime(2019, 3, 13, 8, 38, 50, 510000), name='Ryonz'),
 Row(user_id=1654930, creation_date=datetime.datetime(2020, 5, 1, 17, 20, 38, 360000), name='Phate'),
 Row(user_id=7460467, creation_date=datetime.datetime(2019, 10, 28, 23, 4, 55, 100000), name='Jimmy'),
 Row(user_id=8478404, creation_date=datetime.datetime(2020, 2, 14, 11, 6, 47, 480000), name='Petyar'),
 Row(user_id=2127277, creation_date=datetime.datetime(2020, 1, 7, 6, 19, 38, 103000), name='Dimitri Kopriwa'),
 Row(user_id=12214975, creation_date=datetime.datetime(2019, 10, 15, 11, 1, 55, 813000), name='Ewa Sadownik'),
 Row(user_id=8729215, creation_date=datetime.datetime(2018, 5, 28, 15, 15, 10, 47000), name='Bogere  Goldsoft'),
 Row(user_id=5920297, creation_date=datetime.datetime(2018, 10, 14, 14, 50, 16, 760000), name='Phodina'),
 Row(user_id=10295162, creation_date=datetime.datetime(2019, 3, 13, 2, 48, 39, 610000), name='Sith'),
 Row(user_id=9888850, creation_date=datetime.datetime(2018, 7, 17, 8, 36, 27, 990000), name='Shaun Tan Jun Kai'),
 Row(user_id=2127277, creation_date=datetime.datetime(2020, 5, 24, 18, 52, 8, 657000), name='Dimitri Kopriwa'),
 Row(user_id=8944821, creation_date=datetime.datetime(2019, 10, 21, 5, 25, 21, 663000), name='Pickles Dog'),
 Row(user_id=9583892, creation_date=datetime.datetime(2019, 12, 13, 13, 27, 13, 607000), name='Eisklat'),
 Row(user_id=11270810, creation_date=datetime.datetime(2020, 4, 22, 1, 37, 0, 300000), name='Basit'),
 Row(user_id=4781518, creation_date=datetime.datetime(2020, 5, 20, 7, 59, 14, 183000), name='Ydaniju'),
 Row(user_id=2724488, creation_date=datetime.datetime(2018, 2, 6, 13, 26, 29, 540000), name='Alhimik45'),
 Row(user_id=5430156, creation_date=datetime.datetime(2020, 5, 11, 13, 47, 34, 330000), name='Rogue'),
 Row(user_id=12800233, creation_date=datetime.datetime(2020, 2, 27, 20, 49, 54, 377000), name='Ryan Murphy'),
 Row(user_id=1324023, creation_date=datetime.datetime(2019, 5, 10, 15, 32, 50, 207000), name='Ashy Ashcsi'),
 Row(user_id=8708710, creation_date=datetime.datetime(2019, 4, 12, 15, 11, 11, 627000), name='Ultimatex'),
 Row(user_id=10945133, creation_date=datetime.datetime(2019, 1, 21, 15, 16, 38, 993000), name='Dit'),
 Row(user_id=13546659, creation_date=datetime.datetime(2020, 5, 16, 11, 26, 29, 893000), name='Bhargavi Gali'),
 Row(user_id=6018907, creation_date=datetime.datetime(2019, 3, 1, 6, 55, 30, 847000), name='Shobana Vk'),
 Row(user_id=4027663, creation_date=datetime.datetime(2018, 1, 4, 17, 2, 40, 613000), name='Jimmysbob'),
 Row(user_id=10032414, creation_date=datetime.datetime(2018, 7, 25, 18, 41, 42, 150000), name='Universal Code Labs'),
 Row(user_id=11029905, creation_date=datetime.datetime(2019, 2, 7, 19, 4, 27, 817000), name='Izzym'),
 Row(user_id=5265722, creation_date=datetime.datetime(2018, 3, 10, 0, 46, 42, 907000), name='Brosse Li'),
 Row(user_id=9329978, creation_date=datetime.datetime(2018, 2, 7, 22, 42, 13, 207000), name='Juan Antonio Redondo Centeno'),
 Row(user_id=9870435, creation_date=datetime.datetime(2018, 8, 3, 13, 29, 44, 400000), name='Tassosk'),
 Row(user_id=11315439, creation_date=datetime.datetime(2019, 9, 25, 13, 35, 55, 117000), name='Priya Shukla'),
 Row(user_id=5970352, creation_date=datetime.datetime(2020, 4, 15, 17, 5, 16, 747000), name='Conquester'),
 Row(user_id=11059320, creation_date=datetime.datetime(2019, 5, 3, 20, 46, 55, 40000), name='Shadow2020'),
 Row(user_id=10447257, creation_date=datetime.datetime(2018, 10, 2, 18, 39, 14, 603000), name='Miguel Acosta'),
 Row(user_id=10718267, creation_date=datetime.datetime(2018, 11, 28, 19, 20, 23, 893000), name='Twrzpk'),
 Row(user_id=9121410, creation_date=datetime.datetime(2018, 3, 17, 19, 54, 22, 507000), name='Piotr Mirosz'),
 Row(user_id=1355634, creation_date=datetime.datetime(2018, 7, 5, 11, 28, 26, 867000), name='Math'),
 Row(user_id=2940881, creation_date=datetime.datetime(2019, 6, 23, 8, 20, 48, 997000), name='Frank-rene Schäfer'),
 Row(user_id=11468942, creation_date=datetime.datetime(2019, 9, 28, 13, 22, 40, 880000), name='Deep Dhillon'),
 Row(user_id=64895, creation_date=datetime.datetime(2019, 7, 30, 1, 42, 14, 373000), name='Jack Benimble'),
 Row(user_id=8894549, creation_date=datetime.datetime(2018, 2, 19, 16, 8, 27, 427000), name='Bogdanov'),
 Row(user_id=3218334, creation_date=datetime.datetime(2018, 2, 9, 16, 53, 6, 167000), name='A. Parolini'),
 Row(user_id=10823490, creation_date=datetime.datetime(2019, 1, 4, 23, 50, 25, 197000), name='Jackal'),
 Row(user_id=3088826, creation_date=datetime.datetime(2019, 1, 10, 20, 22, 25, 127000), name='Caitlin'),
 Row(user_id=6060010, creation_date=datetime.datetime(2020, 2, 21, 11, 3, 35, 50000), name='R.walid'),
 Row(user_id=1484017, creation_date=datetime.datetime(2018, 9, 10, 12, 28, 48, 637000), name='Yogesh'),
 Row(user_id=7623709, creation_date=datetime.datetime(2018, 4, 1, 0, 3, 23, 33000), name='Mike'),
 Row(user_id=11918145, creation_date=datetime.datetime(2019, 8, 15, 10, 35, 8, 603000), name='Ringo145'),
 Row(user_id=10440141, creation_date=datetime.datetime(2018, 11, 23, 17, 41, 3, 893000), name='Blackhawk3'),
 Row(user_id=872711, creation_date=datetime.datetime(2018, 1, 17, 9, 30, 42, 337000), name='Filippo'),
 Row(user_id=4734749, creation_date=datetime.datetime(2019, 5, 8, 15, 10, 47, 240000), name='Student201'),
 Row(user_id=12656575, creation_date=datetime.datetime(2020, 2, 24, 18, 10, 17, 910000), name='Max Podpera'),
 Row(user_id=3511012, creation_date=datetime.datetime(2019, 2, 13, 19, 30, 9, 880000), name='Stackoverfloweth'),
 Row(user_id=7260340, creation_date=datetime.datetime(2018, 4, 30, 5, 50, 18, 323000), name='Hahahaha'),
 Row(user_id=1334711, creation_date=datetime.datetime(2020, 2, 6, 3, 0, 54, 723000), name='Dittid'),
 Row(user_id=3562777, creation_date=datetime.datetime(2018, 10, 29, 3, 15, 9, 177000), name='Liz'),
 Row(user_id=11093115, creation_date=datetime.datetime(2019, 2, 21, 15, 0, 50, 130000), name='Pimly'),
 Row(user_id=2437689, creation_date=datetime.datetime(2020, 5, 25, 15, 39, 35, 370000), name='Intra'),
 Row(user_id=8831033, creation_date=datetime.datetime(2019, 1, 23, 14, 39, 17, 617000), name='Dn1'),
 Row(user_id=12571750, creation_date=datetime.datetime(2019, 12, 20, 17, 10, 14, 710000), name='Sumito Tsukada'),
 Row(user_id=1234855, creation_date=datetime.datetime(2018, 12, 26, 19, 4, 52, 673000), name='Saineshwar'),
 Row(user_id=11580554, creation_date=datetime.datetime(2019, 5, 31, 1, 24, 23, 940000), name='Jason'),
 Row(user_id=9928631, creation_date=datetime.datetime(2020, 4, 7, 11, 8, 55, 477000), name='Swapnil Solanki'),
 Row(user_id=476786, creation_date=datetime.datetime(2020, 4, 13, 3, 30, 14, 933000), name='Bpratik'),
 Row(user_id=5685482, creation_date=datetime.datetime(2019, 5, 23, 5, 59, 52, 73000), name='Miguel Costa'),
 Row(user_id=2281724, creation_date=datetime.datetime(2019, 7, 7, 21, 26, 38, 863000), name='Steven'),
 Row(user_id=11098848, creation_date=datetime.datetime(2019, 2, 22, 1, 22, 36, 477000), name='Nikhil Kr'),
 Row(user_id=11385736, creation_date=datetime.datetime(2019, 4, 20, 2, 47, 34, 973000), name='Kd68'),
 Row(user_id=6039995, creation_date=datetime.datetime(2018, 12, 5, 15, 4, 54, 840000), name='Stack Danny'),
 Row(user_id=10477316, creation_date=datetime.datetime(2018, 10, 9, 10, 55, 15, 320000), name='Account Gia Paixnidia'),
 Row(user_id=70386, creation_date=datetime.datetime(2020, 2, 26, 9, 53, 35, 870000), name='Jgauffin'),
 Row(user_id=10431071, creation_date=datetime.datetime(2018, 9, 29, 5, 29, 43, 420000), name='Sichi'),
 Row(user_id=10069064, creation_date=datetime.datetime(2019, 4, 24, 17, 46, 20, 537000), name='Arseniy'),
 Row(user_id=9299121, creation_date=datetime.datetime(2018, 2, 1, 10, 55, 25, 480000), name='Trần Minh Tuấn'),
 Row(user_id=9684720, creation_date=datetime.datetime(2020, 3, 18, 18, 6, 33, 20000), name='Anne'),
 Row(user_id=3428261, creation_date=datetime.datetime(2019, 3, 20, 20, 12, 40, 373000), name='Vinee-the-pooh'),
 Row(user_id=10187279, creation_date=datetime.datetime(2019, 12, 30, 18, 4, 11, 680000), name='A. Vargas'),
 Row(user_id=8356490, creation_date=datetime.datetime(2019, 9, 21, 4, 20, 10, 333000), name='Goolnen'),
 Row(user_id=4825559, creation_date=datetime.datetime(2019, 11, 23, 20, 52, 50, 850000), name='Mingzhao.pro'),
 Row(user_id=1087908, creation_date=datetime.datetime(2018, 10, 29, 17, 28, 25, 67000), name='Code Base 5000'),
 Row(user_id=7788362, creation_date=datetime.datetime(2018, 7, 26, 6, 0, 14, 30000), name='Shekhar Maheshwari'),
 Row(user_id=10187999, creation_date=datetime.datetime(2018, 8, 6, 19, 25, 12, 190000), name='Mls'),
 Row(user_id=6419513, creation_date=datetime.datetime(2020, 3, 22, 17, 54, 6, 753000), name='A.powell'),
 Row(user_id=1382647, creation_date=datetime.datetime(2020, 3, 25, 9, 38, 13, 603000), name='Fatherazrael'),
 Row(user_id=12957575, creation_date=datetime.datetime(2020, 3, 30, 4, 37, 48, 727000), name='Pace Wasden'),
 Row(user_id=9907229, creation_date=datetime.datetime(2018, 7, 17, 8, 41, 33, 517000), name='R.a.y'),
 Row(user_id=9238439, creation_date=datetime.datetime(2018, 1, 19, 6, 48, 16, 757000), name='Abhishek Sharma'),
 Row(user_id=10092506, creation_date=datetime.datetime(2019, 5, 7, 3, 31, 6, 567000), name='Ngoc Minh Tran'),
 Row(user_id=11207672, creation_date=datetime.datetime(2019, 3, 16, 13, 26, 14, 277000), name='Eg2'),
 Row(user_id=1612814, creation_date=datetime.datetime(2019, 3, 15, 14, 8, 45, 710000), name='Disasterkid'),
 Row(user_id=2771733, creation_date=datetime.datetime(2019, 5, 13, 18, 42, 26, 173000), name='Z80crew'),
 Row(user_id=7013811, creation_date=datetime.datetime(2020, 2, 6, 13, 36, 55, 490000), name='Upkar Singh'),
 Row(user_id=11554174, creation_date=datetime.datetime(2019, 5, 26, 13, 42, 59, 150000), name='Nezz'),
 Row(user_id=9988527, creation_date=datetime.datetime(2018, 6, 27, 12, 16, 36, 627000), name='Kusdy_laravel'),
 Row(user_id=4552583, creation_date=datetime.datetime(2018, 12, 13, 20, 16, 27, 500000), name='Dist8885'),
 Row(user_id=4441577, creation_date=datetime.datetime(2018, 3, 25, 11, 50, 28, 793000), name='Aditya Divekar'),
 Row(user_id=1203107, creation_date=datetime.datetime(2018, 8, 10, 18, 36, 21, 220000), name='Jerry Welliver'),
 Row(user_id=873757, creation_date=datetime.datetime(2019, 3, 27, 0, 18, 20, 143000), name='User001'),
 Row(user_id=2490603, creation_date=datetime.datetime(2018, 3, 28, 9, 10, 13, 867000), name='User2490603'),
 Row(user_id=8588359, creation_date=datetime.datetime(2020, 1, 16, 19, 31, 14, 67000), name='Raj'),
 Row(user_id=9272784, creation_date=datetime.datetime(2018, 1, 26, 15, 28, 33, 677000), name='Xidous'),
 Row(user_id=884463, creation_date=datetime.datetime(2020, 5, 4, 18, 28, 35, 500000), name='David Tonhofer'),
 Row(user_id=10128619, creation_date=datetime.datetime(2019, 6, 11, 15, 28, 47, 727000), name='Cbdeveloper'),
 Row(user_id=10971285, creation_date=datetime.datetime(2019, 2, 4, 12, 48, 11, 760000), name='Stv News Kaipamangalam'),
 Row(user_id=8501460, creation_date=datetime.datetime(2019, 8, 20, 14, 21, 44, 497000), name='Leonardo Bezerra'),
 Row(user_id=6634209, creation_date=datetime.datetime(2019, 4, 1, 15, 25, 3, 467000), name='Vamsi'),
 Row(user_id=9121410, creation_date=datetime.datetime(2018, 3, 27, 23, 42, 30, 707000), name='Piotr Mirosz'),
 Row(user_id=13119749, creation_date=datetime.datetime(2020, 3, 25, 3, 53, 38, 30000), name='Nguyen'),
 Row(user_id=9699585, creation_date=datetime.datetime(2018, 4, 25, 20, 27, 13, 293000), name='Tuxero'),
 Row(user_id=12033358, creation_date=datetime.datetime(2019, 11, 12, 14, 15, 54, 437000), name='Ahmad Mustafa'),
 Row(user_id=7583108, creation_date=datetime.datetime(2019, 10, 21, 9, 27, 46, 443000), name='Bruno Miguel'),
 Row(user_id=11788279, creation_date=datetime.datetime(2020, 5, 1, 2, 17, 17, 270000), name='Raffaa'),
 Row(user_id=6564276, creation_date=datetime.datetime(2019, 3, 1, 9, 48, 27, 840000), name='Vijunav Vastivch'),
 Row(user_id=7201349, creation_date=datetime.datetime(2019, 7, 2, 17, 25, 37, 407000), name='Larry'),
 Row(user_id=4639860, creation_date=datetime.datetime(2019, 3, 22, 12, 38, 20, 337000), name='Kehinde Adedamola Shittu'),
 Row(user_id=6110169, creation_date=datetime.datetime(2018, 8, 16, 10, 30, 21, 293000), name='Wojtek T'),
 Row(user_id=8831033, creation_date=datetime.datetime(2019, 3, 14, 14, 1, 58, 457000), name='Dn1'),
 Row(user_id=12923057, creation_date=datetime.datetime(2020, 2, 20, 5, 13, 58, 870000), name='Матвей Иссаков'),
 Row(user_id=9596651, creation_date=datetime.datetime(2018, 4, 20, 14, 40, 15, 240000), name='Moe'),

In [8]:
spark.conf.set('spark.sql.autoBroadcastJoinThreshold', -1)

In [9]:
(
    usersDF
    .join(questionsDF, 'user_id')
    .withColumn('name', initcap('display_name'))
    .select('user_id', 'creation_date', 'name')
    .filter(year(col('creation_date')) >= 2018)
).collect()

[Row(user_id=1532, creation_date=datetime.datetime(2019, 9, 13, 10, 29, 52, 853000), name='Pierre Spring'),
 Row(user_id=1532, creation_date=datetime.datetime(2018, 3, 21, 14, 15, 39, 653000), name='Pierre Spring'),
 Row(user_id=1532, creation_date=datetime.datetime(2019, 9, 12, 15, 17, 21, 710000), name='Pierre Spring'),
 Row(user_id=1694, creation_date=datetime.datetime(2018, 12, 18, 16, 38, 43, 967000), name='Eli Courtwright'),
 Row(user_id=1694, creation_date=datetime.datetime(2018, 4, 6, 0, 56, 11, 557000), name='Eli Courtwright'),
 Row(user_id=3312, creation_date=datetime.datetime(2018, 3, 21, 16, 2, 3, 537000), name='Jesse C. Slicer'),
 Row(user_id=7552, creation_date=datetime.datetime(2019, 9, 24, 0, 50, 5, 400000), name='Glenn Jackman'),
 Row(user_id=7552, creation_date=datetime.datetime(2018, 11, 19, 18, 40, 53, 630000), name='Glenn Jackman'),
 Row(user_id=7552, creation_date=datetime.datetime(2020, 2, 12, 19, 51, 19, 483000), name='Glenn Jackman'),
 Row(user_id=7552, creation_date=datetime.datetime(2020, 3, 22, 18, 22, 32, 183000), name='Glenn Jackman'),
 Row(user_id=7552, creation_date=datetime.datetime(2018, 11, 20, 3, 56, 43, 807000), name='Glenn Jackman'),
 Row(user_id=7552, creation_date=datetime.datetime(2019, 9, 27, 17, 10, 58, 883000), name='Glenn Jackman'),
 Row(user_id=7552, creation_date=datetime.datetime(2019, 7, 24, 17, 4, 18, 70000), name='Glenn Jackman'),
 Row(user_id=10247, creation_date=datetime.datetime(2018, 6, 25, 9, 14, 40, 553000), name='Dlanod'),
 Row(user_id=10247, creation_date=datetime.datetime(2018, 12, 20, 5, 26, 18, 617000), name='Dlanod'),
 Row(user_id=10247, creation_date=datetime.datetime(2018, 6, 21, 2, 44, 14, 423000), name='Dlanod'),
 Row(user_id=10247, creation_date=datetime.datetime(2018, 10, 23, 2, 17, 37, 657000), name='Dlanod'),
 Row(user_id=18187, creation_date=datetime.datetime(2018, 2, 1, 3, 26, 54, 823000), name='Ddimitrov'),
 Row(user_id=18187, creation_date=datetime.datetime(2018, 7, 30, 14, 37, 26, 870000), name='Ddimitrov'),
 Row(user_id=21586, creation_date=datetime.datetime(2018, 5, 31, 20, 47, 18, 670000), name='Sharepoint Newbie'),
 Row(user_id=26457, creation_date=datetime.datetime(2018, 1, 15, 11, 31, 15, 783000), name='Romain Linsolas'),
 Row(user_id=49189, creation_date=datetime.datetime(2020, 3, 6, 10, 37, 22, 410000), name='Chakra'),
 Row(user_id=49189, creation_date=datetime.datetime(2018, 9, 10, 18, 52, 53, 243000), name='Chakra'),
 Row(user_id=49189, creation_date=datetime.datetime(2018, 3, 19, 6, 8, 0, 723000), name='Chakra'),
 Row(user_id=60694, creation_date=datetime.datetime(2019, 6, 20, 23, 15, 42, 413000), name='Chris White'),
 Row(user_id=65696, creation_date=datetime.datetime(2018, 4, 18, 5, 59, 53, 970000), name='Singlenegationelimination'),
 Row(user_id=78093, creation_date=datetime.datetime(2018, 2, 10, 2, 8, 36, 467000), name='Jergason'),
 Row(user_id=96342, creation_date=datetime.datetime(2019, 10, 23, 19, 36, 6, 983000), name='Arshaw'),
 Row(user_id=110282, creation_date=datetime.datetime(2019, 1, 29, 16, 40, 14, 887000), name='Vitor Reis'),
 Row(user_id=110282, creation_date=datetime.datetime(2019, 1, 11, 18, 32, 34, 533000), name='Vitor Reis'),
 Row(user_id=110488, creation_date=datetime.datetime(2020, 2, 11, 14, 4, 26, 373000), name='Chen Levy'),
 Row(user_id=110488, creation_date=datetime.datetime(2018, 6, 10, 10, 32, 39, 243000), name='Chen Levy'),
 Row(user_id=110488, creation_date=datetime.datetime(2018, 5, 17, 8, 37, 23, 763000), name='Chen Levy'),
 Row(user_id=110488, creation_date=datetime.datetime(2018, 11, 20, 13, 13, 25, 83000), name='Chen Levy'),
 Row(user_id=110488, creation_date=datetime.datetime(2018, 9, 26, 17, 21, 34, 277000), name='Chen Levy'),
 Row(user_id=110488, creation_date=datetime.datetime(2018, 4, 5, 9, 54, 53, 413000), name='Chen Levy'),
 Row(user_id=110488, creation_date=datetime.datetime(2019, 1, 1, 16, 21, 24, 820000), name='Chen Levy'),
 Row(user_id=110488, creation_date=datetime.datetime(2018, 10, 15, 9, 15, 3, 700000), name='Chen Levy'),
 Row(user_id=110488, creation_date=datetime.datetime(2018, 4, 16, 7, 46, 33, 533000), name='Chen Levy'),
 Row(user_id=110488, creation_date=datetime.datetime(2018, 4, 4, 15, 37, 20, 880000), name='Chen Levy'),
 Row(user_id=112796, creation_date=datetime.datetime(2018, 1, 19, 20, 38, 33, 817000), name='Ricky'),
 Row(user_id=118697, creation_date=datetime.datetime(2018, 3, 6, 1, 38, 25, 473000), name='Chad Levy'),
 Row(user_id=122019, creation_date=datetime.datetime(2018, 8, 29, 15, 25, 31, 820000), name='Khriz'),
 Row(user_id=122019, creation_date=datetime.datetime(2019, 3, 1, 12, 26, 52, 827000), name='Khriz'),
 Row(user_id=122019, creation_date=datetime.datetime(2018, 7, 30, 12, 20, 55, 113000), name='Khriz'),
 Row(user_id=125400, creation_date=datetime.datetime(2019, 3, 13, 21, 30, 49, 183000), name='Kirk Kuykendall'),
 Row(user_id=125400, creation_date=datetime.datetime(2019, 3, 11, 16, 13, 4, 693000), name='Kirk Kuykendall'),
 Row(user_id=125400, creation_date=datetime.datetime(2019, 4, 26, 18, 17, 22, 260000), name='Kirk Kuykendall'),
 Row(user_id=129001, creation_date=datetime.datetime(2020, 2, 28, 5, 37, 3, 27000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 5, 28, 6, 55, 54, 780000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 8, 13, 8, 36, 12, 647000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 4, 17, 3, 44, 10, 370000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 7, 3, 0, 48, 22, 133000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 5, 17, 4, 24, 8, 700000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 2, 3, 19, 22, 45, 593000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 2, 10, 20, 38, 21, 697000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 9, 6, 21, 19, 58, 413000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 2, 6, 4, 41, 38, 757000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 2, 4, 21, 49, 35, 840000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 6, 14, 6, 29, 2, 180000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 11, 24, 4, 5, 3, 993000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 7, 11, 4, 15, 8, 893000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 5, 22, 8, 45, 3, 973000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 9, 27, 23, 39, 2, 580000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 5, 12, 9, 42, 30, 360000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2020, 1, 22, 6, 12, 52, 687000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 11, 7, 2, 9, 26, 127000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 6, 5, 3, 45, 48, 543000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2020, 3, 25, 8, 39, 51, 620000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 10, 12, 10, 9, 1, 813000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 6, 30, 23, 55, 41, 140000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 11, 2, 6, 55, 2, 960000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 2, 7, 20, 55, 55, 750000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 3, 17, 3, 31, 19, 353000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 7, 27, 10, 11, 58, 470000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 8, 24, 18, 48, 20, 610000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 5, 25, 8, 52, 26, 250000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 6, 1, 5, 28, 53, 290000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 6, 7, 2, 56, 12, 380000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 4, 6, 10, 9, 13, 127000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 12, 10, 9, 48, 25, 60000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2018, 10, 16, 7, 43, 22, 677000), name='Tony_henrich'),
 Row(user_id=129001, creation_date=datetime.datetime(2019, 12, 31, 8, 53, 43, 177000), name='Tony_henrich'),
 Row(user_id=139499, creation_date=datetime.datetime(2019, 12, 27, 0, 1, 20, 307000), name='Jslap'),
 Row(user_id=139499, creation_date=datetime.datetime(2020, 4, 2, 21, 46, 34, 120000), name='Jslap'),
 Row(user_id=141579, creation_date=datetime.datetime(2020, 1, 31, 11, 7, 48, 417000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 7, 3, 20, 42, 5, 193000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 4, 15, 15, 4, 0, 523000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 10, 12, 9, 15, 34, 817000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 2, 22, 14, 52, 55, 543000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 9, 13, 15, 12, 34, 147000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 4, 24, 10, 26, 44, 643000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 10, 16, 10, 55, 54, 83000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 6, 14, 14, 3, 31, 80000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 4, 28, 13, 45, 55, 257000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 5, 15, 17, 12, 35, 203000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2020, 2, 3, 20, 39, 12, 987000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 9, 24, 11, 25, 30, 427000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 11, 12, 14, 1, 53, 673000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 5, 1, 23, 10, 53, 20000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2020, 2, 16, 23, 52, 57, 887000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 4, 28, 11, 7, 53, 523000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 3, 13, 17, 19, 58, 340000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 3, 2, 21, 34, 13, 177000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 6, 1, 23, 38, 3, 787000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 1, 11, 16, 47, 25, 887000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 6, 3, 22, 1, 13, 393000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 5, 17, 15, 24, 16, 260000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2020, 5, 3, 13, 57, 22, 50000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 2, 23, 10, 47, 15, 290000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 7, 26, 16, 8, 18, 357000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 1, 17, 22, 0, 35, 247000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 4, 29, 21, 23, 42, 677000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 4, 1, 1, 26, 42, 237000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 3, 5, 0, 5, 0, 193000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 9, 24, 16, 9, 41, 43000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2020, 2, 7, 17, 16, 41, 290000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 12, 6, 13, 34, 7, 913000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 4, 1, 9, 49, 7, 173000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 4, 21, 17, 8, 7, 443000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 8, 22, 11, 56, 5, 557000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 12, 9, 14, 53, 2, 740000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 5, 4, 22, 52, 34, 503000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2018, 5, 1, 20, 56, 7, 140000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 9, 24, 9, 27, 21, 13000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 3, 27, 11, 27, 7, 433000), name='Stighy'),
 Row(user_id=141579, creation_date=datetime.datetime(2019, 8, 26, 10, 9, 48, 920000), name='Stighy'),
 Row(user_id=142162, creation_date=datetime.datetime(2018, 5, 13, 17, 3, 33, 333000), name='Tim Cooper'),
 Row(user_id=154821, creation_date=datetime.datetime(2019, 11, 3, 0, 20, 0, 397000), name='Pooran'),
 Row(user_id=154821, creation_date=datetime.datetime(2019, 8, 12, 9, 14, 22, 160000), name='Pooran'),
 Row(user_id=154821, creation_date=datetime.datetime(2019, 9, 29, 0, 25, 53, 487000), name='Pooran'),
 Row(user_id=154821, creation_date=datetime.datetime(2018, 4, 24, 6, 2, 4, 147000), name='Pooran'),
 Row(user_id=167835, creation_date=datetime.datetime(2018, 3, 22, 10, 35, 16, 840000), name='Juri Pakaste'),
 Row(user_id=167835, creation_date=datetime.datetime(2019, 5, 17, 13, 4, 22, 820000), name='Juri Pakaste'),
 Row(user_id=167835, creation_date=datetime.datetime(2018, 8, 7, 7, 17, 32, 323000), name='Juri Pakaste'),
 Row(user_id=167835, creation_date=datetime.datetime(2019, 12, 15, 12, 18, 22, 227000), name='Juri Pakaste'),
 Row(user_id=168845, creation_date=datetime.datetime(2019, 12, 1, 13, 37, 30, 623000), name='Jens'),
 Row(user_id=175399, creation_date=datetime.datetime(2018, 6, 4, 19, 48, 2, 153000), name='Rookian'),
 Row(user_id=175399, creation_date=datetime.datetime(2019, 11, 18, 10, 56, 57, 693000), name='Rookian'),
 Row(user_id=177850, creation_date=datetime.datetime(2019, 7, 8, 18, 11, 33, 80000), name='Miriam P.  Raphael'),
 Row(user_id=177850, creation_date=datetime.datetime(2019, 2, 6, 22, 13, 5, 33000), name='Miriam P.  Raphael'),
 Row(user_id=179032, creation_date=datetime.datetime(2018, 7, 26, 4, 35, 52, 747000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 7, 5, 8, 51, 51, 903000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 6, 20, 6, 23, 52, 650000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2018, 7, 31, 6, 51, 34, 480000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 3, 12, 11, 40, 18, 780000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 3, 26, 8, 37, 16, 837000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 8, 26, 9, 8, 42, 377000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 5, 28, 19, 15, 50, 407000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 11, 6, 11, 6, 7, 383000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 4, 8, 12, 33, 29, 60000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 7, 2, 11, 46, 18, 473000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2018, 12, 14, 4, 14, 14, 903000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 8, 28, 8, 57, 37, 407000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 3, 25, 11, 20, 11, 180000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 9, 26, 5, 2, 10, 720000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 6, 17, 12, 4, 12, 863000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 8, 27, 12, 49, 33, 883000), name='Developer404'),
 Row(user_id=179032, creation_date=datetime.datetime(2019, 10, 15, 4, 50, 4, 367000), name='Developer404'),
 Row(user_id=187584, creation_date=datetime.datetime(2018, 10, 20, 0, 10, 6, 447000), name='Eddy Pronk'),
 Row(user_id=187584, creation_date=datetime.datetime(2018, 8, 6, 8, 48, 18, 943000), name='Eddy Pronk'),
 Row(user_id=187584, creation_date=datetime.datetime(2018, 5, 2, 10, 56, 31, 970000), name='Eddy Pronk'),
 Row(user_id=187584, creation_date=datetime.datetime(2019, 8, 11, 2, 16, 19, 77000), name='Eddy Pronk'),
 Row(user_id=193189, creation_date=datetime.datetime(2020, 1, 27, 22, 34, 13, 913000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2020, 3, 11, 21, 14, 36, 17000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2020, 1, 28, 22, 27, 53, 640000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2018, 5, 16, 15, 0, 11, 180000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 8, 9, 19, 48, 26, 807000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 3, 1, 22, 6, 47, 903000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2018, 4, 19, 22, 44, 36, 870000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2018, 5, 21, 16, 18, 14, 377000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2018, 5, 23, 19, 12, 33, 147000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 11, 19, 22, 38, 20, 313000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 11, 27, 19, 34, 42, 653000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 9, 4, 22, 27, 21, 797000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 7, 1, 22, 52, 12, 560000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2020, 4, 16, 18, 9, 26, 97000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 7, 6, 19, 0, 53, 880000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2018, 5, 23, 21, 22, 14, 427000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 11, 6, 18, 23, 18, 780000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 2, 12, 23, 1, 33, 113000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2018, 10, 15, 19, 44, 8, 357000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2018, 6, 6, 16, 6, 23, 157000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 1, 18, 16, 45, 29, 40000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 10, 28, 18, 32, 55, 900000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2018, 6, 18, 17, 50, 40, 100000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 6, 19, 16, 6, 51, 553000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2018, 5, 7, 17, 19, 50, 710000), name='Punkouter'),
 Row(user_id=193189, creation_date=datetime.datetime(2019, 9, 20, 22, 2, 4, 987000), name='Punkouter'),

In [10]:
spark.stop()